html,
body,
#Container {
  width: 100%;
  height: 100%;
}

#Container {
  background-image: url(https://post-phinf.pstatic.net/MjAxODA2MjlfMTE2/MDAxNTMwMjQyNTMwMDMy.7jUCEVBowP64V3FcWsh-v6l-a2bP7SpDlH5az58TMkYg.ThEAdBfnqhVnSxUeil1xHbohGU7hdE5PkcVLNlDf2Fsg.JPEG/image003.jpg?type=w1200);
  background-size: cover;
  background-attachment: fixed;
}

#Contents {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header > h1 {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  color: black;
  text-align: center;
}

#activities {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#activities > article {
  width: 50%;
  height: 100%;
  font-size: 20px;
  color: black;
  text-align: center;
  font-family: "Kalam", cursive;
}

/* break the line */
@media (max-width: 1400px) {
  #activities > article {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  #Contents {
    width: 90%;
  }

  #header > h1 {
    font-size: 30px;
  }

  #activities > article {
    width: 90%;
  }
}

@media (max-width: 768px) {
  #Contents {
    width: 100%;
  }

  #header > h1 {
    font-size: 25px;
  }

  #activities > article {
    width: 100%;
    font-size: 15px;
  }
}
